.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml

Core/Vendors/

/templates_c/
/.settings/
Modules/GFFileManager/Files/largevid.mp4
Core/Configs/Modules/GFStarterKit/templates_c/
