Options -Indexes

RewriteEngine on
#ErrorDocument 401 error.php
#ErrorDocument 404 error.php



RewriteRule (css|js|images|img|fonts|vendors)/modules/([^/.]*)?/(.+)$ Private/modules/$2/Public/$1/$3 [NC,L]

RewriteCond %{REQUEST_URI} ^((?!Private/Modules).)*$ [NC]
RewriteCond %{REQUEST_URI} ^((?!wordpress/).)*$ [NC]
RewriteRule (css|js|images|img|fonts|vendors)/(.+)$ Public/$1/$2 [NC,L]



RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule .*  index.php

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}