.chunk-showbox {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chunk-loader {
  position: relative;
  margin: 0px auto;
  width: 50px;
}
.chunk-loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.chunk-circular {
  -webkit-animation: chunk-rotate 2s linear infinite;
          animation: chunk-rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.chunk-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: chunk-dash 1.5s ease-in-out infinite, chunk-color 6s ease-in-out infinite;
          animation: chunk-dash 1.5s ease-in-out infinite, chunk-color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes chunk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes chunk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes chunk-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes chunk-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes chunk-color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
@keyframes chunk-color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
